html,body{
	height:100%;
}
body{
	background-image:url(./Image/index-background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	background-color:transparent;
	display:flex;
	justify-content:center;
	align-items:center;
}
div.dropdown{
	width:300px;
	background-color:white;
	box-shadow:4px 4px 12px #97CBFF;
}
img{
	width:100px;
	height:100px;
	display:block;
	margin:0px auto;
	margin-top:10px;
	border-radius:12px;
}
a.dropdown-item{
	color:blue;
	text-decoration:underline;
}